 
.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 10;
  justify-content: center;
  align-items: center ;
  background-color: #333;
}


.box {
  height: 100px;
  width: 100px;
  background-color: greenyellow
}


.circle {
  height: 100px;
  width: 100px;
  background-color: greenyellow;
  border-radius: 50%;
}

.flex-row{
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.circle8 {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  opacity: 0.3;
  background-color:green;
  border-radius: 50%;
}

.circle8.sm {
  width: 30px;
  height: 30px;
}

.circle8.md {
  width: 60px;
  height: 60px;
}

.circle8.lg {
  width: 90px;
  height: 90px;
}

.box9 {
  margin: 10px 0;
  will-change: transform;
  height: 100px;
  width: 100px;
  background-color: greenyellow
}

.boxes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box11 {
  height: 100px;
  border-radius: 10%;
  width: 100px;
  margin: 10px 10px 0 0;
  user-select: none;
}

.blue{
  background-color:blue;
}
.red{
  background-color:red;
}
.purple{
  background-color:purple;
}
.orange{
  background-color:orange;
}